{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {% if utilisateur is not null %}
            {% if utilisateur.photo %}
                <img src="{{ asset('uploads/images/67c88b34e4a07.jpg') }}" alt="Photo de profil" class="driver-photo-icon" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
            {% else %}
                <img src="{{ asset('uploads/default-avatar.png') }}" alt="Photo par défaut">
            {% endif %}
            <p>Nom : {{ utilisateur.nom }} {{ utilisateur.prenom }}</p>
            <p>Email : {{ utilisateur.email }}</p>

            <a href="{{ path('espace_utilisateur') }}" class="btn btn-secondary mt-3">
                Gérer mon espace utilisateur
            </a>
        {% else %}
            <p>Utilisateur introuvable.</p>
        {% endif %}
        <div class="card mt-5 p-4 shadow-sm">
            <h5 class="mb-3 text-center">Mes actions</h5>
        
            <div class="d-flex justify-content-center gap-3 flex-wrap">
                <a href="{{ path('historique_covoiturages') }}" class="btn btn-outline-primary">
                    🕓 Historique de mes covoiturages
                </a>
        
                <a href="{{ path('app_home') }}" class="btn btn-primary">
                    ⬅ Retour à l'accueil
                </a>
            </div>
        </div>
        
    </div>
{% endblock %}
