{% extends 'base.html.twig' %}

{% block body %}

    <!-- Résultats de la recherche  -->
    {% if rides is not empty %}
        <h3>Itinéraires disponibles :</h3>
        <div class="covoiturages-list d-flex flex-wrap">
            {% for ride in rides %}
                <div class="covoiturage-item col-md-6 mb-4">
                    <div class="card">
                        <img src="{{ asset('uploads/images/67c88b34e4a07.jpg') }}" alt="Profile Photo" class="driver-photo-icon" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
                        <div class="card-body">
                            <p><strong>Pseudo :</strong> {{ ride.driver.pseudo }}</p>
                            <p><strong>Note :</strong> {{ ride.driver.rating }}⭐</p>
                            <p><strong>Places restantes :</strong> {{ ride.getNbPlace() }}</p>
                            <p><strong>Prix :</strong> {{ ride.getPrixPersonne() }} €</p>
                            <p><strong>Date et Heure de départ :</strong> {{ ride.getDateDepart()|date('d/m/Y') }} à {{ ride.getHeureDepart()|date('H:i') }}</p>
                            <p><strong>Date et Heure d'arrivée :</strong> {{ ride.getDateArrivee()|date('d/m/Y') }} à {{ ride.getHeureArrivee()|date('H:i') }}</p>
                            <p><strong>Voyage écologique :</strong>
                                {% if ride.getIsEco() %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </p>
                            <a href="{{ path('covoiturage_details', {'id': ride.id}) }}" class="btn btn-secondary">Détail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div><a href="{{ path('app_home') }}" class="btn btn-primary mt-3">
        ⬅ Retour à l'accueil
    </a></div>

{% endblock %}
