{% extends 'base.html.twig' %}

{% block title %}Modération des avis{% endblock %}

{% block body %}
<h2>Avis à modérer</h2>

{% for avis in avisList %}
    <div class="card p-3 mb-3">
        <p><strong>Passager :</strong> {{ avis.reservation.passenger.nom }}</p>
        <p><strong>Note :</strong> {{ avis.note }}/5</p>
        <p><strong>Commentaire :</strong> {{ avis.commentaire }} </p>
        <a href="{{ path('moderation_avis_valider', {id: avis.id}) }}" class="btn btn-success">Valider</a>
        <a href="{{ path('moderation_avis_refuser', {id: avis.id}) }}" class="btn btn-danger">Refuser</a>
    </div>
{% else %}
    <p>Aucun avis à modérer.</p>
{% endfor %}
<a href="{{ path('app_employe') }}" class="btn btn-secondary mb-3">← Retour à l'espace employé</a>

{% endblock %}
